/* Estilo básico */
body {
    font-family: 'Montserrat', sans-serif; color: #333; margin: 0; padding: 0; text-align: center;
    background-color: black; color: white;
}

/* Sección de foto */
.photo-section img {
    width: 25px; height: auto; border-radius: 50%; margin: 20px auto; display: block;
}

/* Sección de "Sobre mí" */
.about-section {
    text-align: center; padding: 50px; background-color: #000000; color: #fff;
}

/* Sección de "Contacto" */
.contact-section {
    text-align: center; padding: 50px; background-color: #000000; color: #fff;
}

.contact-container {
    max-width: 600px; margin: 0 auto; padding: 20px; background-color: #000000; border-radius: 10px;
}

.contact-info p {
    margin: 15px 0;
}

.contact-info a.email-link {
    color: #ffffff; text-decoration: none;
}

.contact-info a.email-link:hover {
    color: #d1d1d1;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .photo-section img { width: 150px; }
    .about-section, .contact-section { padding: 30px; }
    .contact-container { padding: 15px; width: 90%; }
    h1 { font-size: 2em; }
}

/* Media Query para pantallas muy pequeñas (teléfonos) */
@media (max-width: 480px) {
    h1 { font-size: 1.5em; }
    .contact-info p { font-size: 1em; margin: 10px 0; }
}
